.mainBanner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.mainBanner__content {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.mainBanner__contentTop {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.mainBanner__contentTopText {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FE8C01;
}

.mainBanner__contentTopTitle {
    font-weight: 700;
    font-size: 155px;
    line-height: calc(189 / 155 * 100%);
    color: #232323;
}

.mainBanner__contentTopTitle span {
    color: #FE8C01;
}

.mainBanner__contentButtonText {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #232323;
}

.mainBanner__buttonText {
    display: flex;
    align-items: center;
    gap: 30px;
}

.mainBanner__buttonText a {
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
    background: #FE8C01;
    box-shadow: 0px 0px 20px -5px #FE8C01;
    border-radius: 100px;
    padding: 18px 80px;
}

.mainBanner__buttonText p {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #C4C4C4;
    width: 228px;
}

@media screen and (max-width: 1600px) {
    .mainBanner__contentTopTitle {
        font-size: 84px;
    }
    .mainBanner__buttonText {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1200px) {
    .mainBanner {
        flex-wrap: wrap-reverse;
        justify-content: center;
        gap: 100px;
    }
    .mainBanner__content {
        flex: 0 1 100%;
    }
    .mainBanner__content img {
        flex: 0 1 100%;
    }
}

@media screen and (max-width: 997px) {
    .mainBanner__contentTop {
        text-align: center;
    }
    .mainBanner__buttonText {
        flex-direction: column;
    }
}